
.lmj-banner {
color: black;
padding: 32px;
background-color: aqua;
border-bottom: solid 3px black;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
}

 .lmj-title {
	padding-left: 32px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}   